.customize-control-typography li.typography-font-family select {
  width : 85%;
}

.customize-control-typography li.typography-font-color,
.customize-control-typography li.typography-font-size,
.customize-control-typography li.typography-font-style,
.customize-control-typography li.typography-font-weight,
.customize-control-typography li.typography-line-height {
  width : 50%;
  float : left;
}

.customize-control-typography li.typography-font-style select,
.customize-control-typography li.typography-font-weight select {
  width : 90%;
}

.customize-control-typography li.typography-font-weight {
  clear : both;
}

.customize-control-typography li.typography-font-size input,
.customize-control-typography li.typography-line-height input {
  width : 75px;
}

.customize-control-typography .advanced-settings-wrapper {
  display : none;
}

.customize-control-typography .advanced-settings-wrapper.show {
  display    : block !important;
  margin-top : 10px;
  padding    : 10px;
  background : #dadada;
}

.advanced-settings-wrapper:after {
  content : "";
  display : table;
  clear   : both;
}

.advanced-button {
  float          : right;
  margin         : 0;
  padding-top    : 4px;
  padding-bottom : 4px;
  color          : #72777c;
  border         : none;
  background     : 0 0;
  cursor         : pointer;
}

.advanced-button:before {
  content    : "\f108";
  display    : block;
  color      : #0284ba;
  background : 0 0;
  font       : 400 16px/20px dashicons;
}

.advanced-button.open:before {
  content       : "\f142";
  color         : #72777c;
  border-radius : 5000px;
  background    : #dadada;
}

.customize-control-typography input[type="range"] {
  width : 90%;
}

.customize-control-typography .customize-control-notifications-container {
  display : none;
}

/* @group Base */

.chosen-container {
  display             : inline-block;
  position            : relative;
  vertical-align      : middle;
  font-size           : 13px;
  -moz-user-select    : none;
  -ms-user-select     : none;
  -webkit-user-select : none;
  user-select         : none;
}

.chosen-container * {
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
}

.chosen-container .chosen-drop {
  z-index            : 1010;
  display            : none;
  position           : absolute;
  top                : 100%;
  width              : 100%;
  border             : 1px solid #aaa;
  border-top         : 0;
  background         : #fff;
  -webkit-box-shadow : 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow         : 0 4px 5px rgba(0, 0, 0, 0.15);
}

.chosen-container.chosen-with-drop .chosen-drop {
  display : block;
}

.chosen-container a {
  cursor : pointer;
}

.chosen-container .chosen-single .group-name,
.chosen-container .search-choice .group-name {
  margin-right  : 4px;
  color         : #999999;
  overflow      : hidden;
  text-overflow : ellipsis;
  font-weight   : normal;
  white-space   : nowrap;
}

.chosen-container .chosen-single .group-name:after,
.chosen-container .search-choice .group-name:after {
  content        : ":";
  padding-left   : 2px;
  vertical-align : top;
}

/* @end */

/* @group Single Chosen */

.chosen-container-single .chosen-single {
  display            : block;
  position           : relative;
  height             : 25px;
  padding            : 0 0 0 8px;
  color              : #444;
  overflow           : hidden;
  border             : 1px solid #aaa;
  border-radius      : 5px;
  background         : -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(50%, #f6f6f6), color-stop(52%, #eee), to(#f4f4f4));
  background         : linear-gradient(
                         #fff 20%,
                         #f6f6f6 50%,
                         #eee 52%,
                         #f4f4f4 100%
                       );
  background-color   : #fff;
  background-clip    : padding-box;
  -webkit-box-shadow : 0 0 3px #fff inset,
                       0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow         : 0 0 3px #fff inset,
                       0 1px 1px rgba(0, 0, 0, 0.1);
  text-decoration    : none;
  line-height        : 24px;
  white-space        : nowrap;
}

.chosen-container-single .chosen-single input[type="text"] {
  position : absolute;
  width    : 0;
  opacity  : 0;
  cursor   : pointer;
}

.chosen-container-single .chosen-default {
  color : #999;
}

.chosen-container-single .chosen-single span {
  display       : block;
  margin-right  : 26px;
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;
}

.chosen-container-single .chosen-single-with-deselect span {
  margin-right : 38px;
}

.chosen-container-single .chosen-single abbr {
  display    : block;
  position   : absolute;
  top        : 6px;
  right      : 26px;
  width      : 12px;
  height     : 12px;
  background : url("../images/chosen-sprite.png") -42px 1px no-repeat;
  font-size  : 1px;
}

.chosen-container-single .chosen-single abbr:hover {
  background-position : -42px -10px;
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position : -42px -10px;
}

.chosen-container-single .chosen-single div {
  display  : block;
  position : absolute;
  top      : 0;
  right    : 0;
  width    : 18px;
  height   : 100%;
}

.chosen-container-single .chosen-single div b {
  display    : block;
  width      : 100%;
  height     : 100%;
  background : url("../images/chosen-sprite.png") no-repeat 0px 2px;
}

.chosen-container-single .chosen-search {
  z-index     : 1010;
  position    : relative;
  margin      : 0;
  padding     : 3px 4px;
  white-space : nowrap;
}

.chosen-container-single .chosen-search input[type="text"] {
  width         : 100%;
  height        : auto;
  margin        : 1px 0;
  padding       : 4px 20px 4px 5px;
  border        : 1px solid #aaa;
  border-radius : 0;
  background    : url("../images/chosen-sprite.png") no-repeat 100% -20px;
  outline       : 0;
  font-family   : sans-serif;
  font-size     : 1em;
  line-height   : normal;
}

.chosen-container-single .chosen-drop {
  margin-top      : -1px;
  border-radius   : 0 0 4px 4px;
  background-clip : padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position       : absolute;
  opacity        : 0;
  pointer-events : none;
}

/* @end */

/* @group Results */

.chosen-container .chosen-results {
  position   : relative;
  max-height : 240px;
  margin     : 0 4px 4px 0;
  padding    : 0 0 0 4px;
  color      : #444;
  overflow-x : hidden;
  overflow-y : auto;
}

.chosen-container .chosen-results li {
  display     : none;
  margin      : 0;
  padding     : 5px 6px;
  line-height : 15px;
  word-wrap   : break-word;
  list-style  : none;
}

.chosen-container .chosen-results li.active-result {
  display : list-item;
  cursor  : pointer;
}

.chosen-container .chosen-results li.disabled-result {
  display : list-item;
  color   : #ccc;
  cursor  : default;
}

.chosen-container .chosen-results li.highlighted {
  color            : #fff;
  background-image : -webkit-gradient(linear, left top, left bottom, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image : linear-gradient(
                       #3875d7 20%,
                       #2a62bc 90%
                     );
  background-color : #3875d7;
}

.chosen-container .chosen-results li.no-results {
  display    : list-item;
  color      : #777;
  background : #f4f4f4;
}

.chosen-container .chosen-results li.group-result {
  display     : list-item;
  font-weight : bold;
  cursor      : default;
}

.chosen-container .chosen-results li.group-option {
  padding-left : 15px;
}

.chosen-container .chosen-results li em {
  text-decoration : underline;
  font-style      : normal;
}

/* @end */

/* @group Multi Chosen */

.chosen-container-multi .chosen-choices {
  position         : relative;
  width            : 100%;
  height           : auto;
  margin           : 0;
  padding          : 0 5px;
  overflow         : hidden;
  border           : 1px solid #aaa;
  background-image : -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image : linear-gradient(
                       #eee 1%,
                       #fff 15%
                     );
  background-color : #fff;
  cursor           : text;
}

.chosen-container-multi .chosen-choices li {
  float      : left;
  list-style : none;
}

.chosen-container-multi .chosen-choices li.search-field {
  margin      : 0;
  padding     : 0;
  white-space : nowrap;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  width              : 25px;
  height             : 25px;
  margin             : 1px 0;
  padding            : 0;
  color              : #999;
  border             : 0 !important;
  border-radius      : 0;
  background         : transparent !important;
  outline            : 0;
  -webkit-box-shadow : none;
  box-shadow         : none;
  font-family        : sans-serif;
  font-size          : 100%;
  line-height        : normal;
}

.chosen-container-multi .chosen-choices li.search-choice {
  position           : relative;
  max-width          : 100%;
  margin             : 3px 5px 3px 0;
  padding            : 3px 20px 3px 5px;
  color              : #333;
  border             : 1px solid #aaa;
  border-radius      : 3px;
  background-image   : -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
  background-image   : linear-gradient(
                         #f4f4f4 20%,
                         #f0f0f0 50%,
                         #e8e8e8 52%,
                         #eee 100%
                       );
  background-color   : #eeeeee;
  background-repeat  : repeat-x;
  background-size    : 100% 19px;
  background-clip    : padding-box;
  -webkit-box-shadow : 0 0 2px #fff inset,
                       0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow         : 0 0 2px #fff inset,
                       0 1px 0 rgba(0, 0, 0, 0.05);
  line-height        : 13px;
  cursor             : default;
}

.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap : break-word;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  display    : block;
  position   : absolute;
  top        : 4px;
  right      : 3px;
  width      : 12px;
  height     : 12px;
  background : url("../images/chosen-sprite.png") -42px 1px no-repeat;
  font-size  : 1px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position : -42px -10px;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right    : 5px;
  color            : #666;
  border           : 1px solid #ccc;
  background-image : -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
  background-image : linear-gradient(
                       #f4f4f4 20%,
                       #f0f0f0 50%,
                       #e8e8e8 52%,
                       #eee 100%
                     );
  background-color : #e4e4e4;
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
  background : #d4d4d4;
}

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position : -42px -10px;
}

.chosen-container-multi .chosen-results {
  margin  : 0;
  padding : 0;
}

.chosen-container-multi .chosen-drop .result-selected {
  display : list-item;
  color   : #ccc;
  cursor  : default;
}

/* @end */

/* @group Active */

.chosen-container-active .chosen-single {
  border             : 1px solid #5897fb;
  -webkit-box-shadow : 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow         : 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border                     : 1px solid #aaa;
  border-bottom-right-radius : 0;
  border-bottom-left-radius  : 0;
  background-image           : -webkit-gradient(linear, left top, left bottom, color-stop(20%, #eee), color-stop(80%, #fff));
  background-image           : linear-gradient(
                                 #eee 20%,
                                 #fff 80%
                               );
  -webkit-box-shadow         : 0 1px 0 #fff inset;
  box-shadow                 : 0 1px 0 #fff inset;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left : none;
  background  : transparent;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position : -18px 2px;
}

.chosen-container-active .chosen-choices {
  border             : 1px solid #5897fb;
  -webkit-box-shadow : 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow         : 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color : #222 !important;
}

/* @end */

/* @group Disabled Support */

.chosen-disabled {
  opacity : 0.5 !important;
  cursor  : default;
}

.chosen-disabled .chosen-single {
  cursor : default;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor : default;
}

/* @end */

/* @group Right to Left */

.chosen-rtl {
  text-align : right;
}

.chosen-rtl .chosen-single {
  padding  : 0 8px 0 0;
  overflow : visible;
}

.chosen-rtl .chosen-single span {
  margin-right : 0;
  margin-left  : 26px;
  direction    : rtl;
}

.chosen-rtl .chosen-single-with-deselect span {
  margin-left : 38px;
}

.chosen-rtl .chosen-single div {
  right : auto;
  left  : 3px;
}

.chosen-rtl .chosen-single abbr {
  right : auto;
  left  : 26px;
}

.chosen-rtl .chosen-choices li {
  float : right;
}

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction : rtl;
}

.chosen-rtl .chosen-choices li.search-choice {
  margin  : 3px 5px 3px 0;
  padding : 3px 5px 3px 19px;
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right : auto;
  left  : 4px;
}

.chosen-rtl.chosen-container-single .chosen-results {
  margin  : 0 0 4px 4px;
  padding : 0 4px 0 0;
}

.chosen-rtl .chosen-results li.group-option {
  padding-right : 15px;
  padding-left  : 0;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right : none;
}

.chosen-rtl .chosen-search input[type="text"] {
  padding    : 4px 5px 4px 20px;
  background : url("../images/chosen-sprite.png") no-repeat -30px -20px;
  direction  : rtl;
}

.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position : 6px 2px;
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position : -12px 2px;
}

/* @end */

/* @group Retina compatibility */

@media
  only screen
  and (-webkit-min-device-pixel-ratio : 1.5),
  only screen
  and (min-resolution                 : 144dpi),
  only screen
  and (min-resolution                 : 1.5dppx) {
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span,
  .chosen-rtl .chosen-search input[type="text"] {
    background-image  : url("../images/chosen-sprite@2x.png") !important;
    background-repeat : no-repeat !important;
    background-size   : 52px 37px !important;
  }
}

/* @end */
