.eb-wrap {
	margin: 50px 35px;
	max-width: 960px;
}

.eb-wrap * {
	font-size: 16px;
	margin-top: 0;
	font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
}

.eb-wrap p {
	line-height: 1.6;
}

.eb-wrap ul {
	list-style: disc;
	margin-left: 32px
}

.eb-wrap ul li {
	margin-bottom: 8px
}

.eb-content {
	background: #fff;
	border-radius: 3px;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 740px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);
}

.eb-content__header {
	border-top: 5px solid #b43534;
	border-radius: 5px 5px 0 0;
}

.eb-content__header h1 {
	font-size: 24px;
	padding: 50px 50px 0;
	margin: 0
}

.eb-content__inner {
	background-color: #fff;
	padding: 25px 50px 50px;
}

.eb-sidebar__inner {
	background-color: white;
}

.eb-sidebar__header {
	background-color: #0d72a7
}

.eb-sidebar__plugin {
	padding: 30px;
}

.eb-sidebar__header h2 {
	color: #fff;
	font-size: 16px;
	padding: 20px 30px;
	margin: 0
}

.appearance_page_olympus-google-fonts .notice {
	display: none
}

.eb-wrap .button {
	color: #fff;
  border-color: #a10000;
  background: #a10000;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 8px;
	height: auto
}

#mce-EMAIL {
	padding: 5px 12px;
	min-height: 27px
}

.ebook-cover {
	float: right;
	max-width: 30%;
  margin-left: 10%;
  margin-top: -25px;
}

@media only screen and (max-width: 960px) {

	.eb-content {
		max-width: 98%;
		float: none;
	}

	.eb-wrap {
			margin: 1%;
	}

}
@media only screen and (max-width: 480px) {

	.ebook-cover {
		display: none
	}

	#mce-EMAIL {
    padding: 5px 12px;
    width: 100%;
    margin-bottom: 10px;
	}

	.eb-wrap .button {
		width: 100%;
		margin-left: 0;
	}

}
