name: Deploy to WordPress.org
on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
jobs:
  tag:
    name: New tag
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'push' }}
    runs-on: ubuntu-latest
    concurrency:
      group: deploy-${{ github.event.workflow_run.head_sha }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Get tag for SHA
        id: tag
        run: |
          TAG=$(git tag --points-at "${{ github.event.workflow_run.head_sha }}" | head -n 1)
          echo "tag=$TAG" >> $GITHUB_OUTPUT
      - name: Checkout tag
        if: ${{ steps.tag.outputs.tag != '' }}
        run: git checkout "${{ steps.tag.outputs.tag }}"
      - name: WordPress Plugin Deploy
        if: ${{ steps.tag.outputs.tag != '' }}
        uses: 10up/action-wordpress-plugin-deploy@stable
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          VERSION: ${{ steps.tag.outputs.tag }}
          SLUG: olympus-google-fonts # optional, remove if GitHub repo name matches SVN slug, including capitalization
